@model ICollection<ASP_Blog.Models.Home.Gallery>

<h2>Галерея</h2>

<table border="1" width="100%">
    @foreach (var gallery in Model)
	{
		 <tr>
             <td width="20%">тут должна быть превью-картинка</td>
			 <td>
                 <a asp-action="Gallery" asp-controller="Home" asp-route-galleryId="@gallery.Id">@gallery.GalleryTitle</a><br />
				@gallery.GalleryDescription
			 </td>
		 </tr>
	}
</table>